@model PagedList.IPagedList<SachOnline.Models.HoaDon>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "XemDonHang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<body>
    <br />
    <h3 style="color:red" align="Center">Đơn hàng của: @Session["SDT"].ToString()</h3>
    <br />
    <table id="customers" align="center">
        <tr>
            <th>Mã hóa đơn</th>
            <th>Ngày tạo</th>
            <th>Tình trạng đơn hàng</th>
            <th colspan="2"></th>
        </tr>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            { 
               
                
 

            }
                count = count + 1;
            <tr>
                <td>@item.MAHD</td>
                <td>@item.NgayTao</td>
                <td>@item.TinhTrang</td>
                <td align="center">
                    <a class="btn btn-info" href="@Url.Action("XemChiTietDonHang","DatHang",new { id=item.MAHD})"><span style="font-size:20px;">Xem chi tiết hóa đơn</span></a>
                    
                </td>
            </tr>
        }


    </table>
    @if (count == 0)
    {
        <div style="margin-top:200px;margin-bottom:200px;width:100%;"><h3 style="color:red;text-align:center;">Bạn chưa đặt bất cứ hóa đơn nào</h3></div>
    }
    <br />

</body>
<div align="center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("XemDonHang", new { page }))
</div>

